.carousel {
  overflow: hidden;
  border-radius: 20px;
  border: 1px rgb(255, 215, 0) solid;
  padding: 10px;
  flex: 5;
  max-width: 500px;
  max-height: 500px;
}

.allImages {
  white-space: nowrap;
  border: 5px black solid;
  max-width: 490px;
  height: 90%;
  width: 100%;
  object-fit: contain;
}

.eachImage {
  display: inline-flex;
  align-items: center;
  height: 420px;
  /* object-fit: contain; */
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}