.carousel {
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  max-width: 490px;
}

.allImages {
  white-space: nowrap;
  border-radius: 20px;
  object-fit: contain;
}

.eachImage {
  display: inline-flex;
  align-items: center;
  height: 420px;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}