.overviewMain {
  background: rgba(255, 255, 255, 0.736);
  border: 1px black solid;
  padding: 10px 10px 10px 10px;
  display: flex;
  border-radius: 20px;
  margin: 20px;
  /* max-width: 490px; */
  max-height: 600px;
  justify-content: space-evenly;
  /* padding: 0px 30px; */
}

b {
  /* color: #ffa500; */
  /* color: #ffcba4; */
  color: #f28500;
}

.product-details {
  border-radius: 20px;
  padding: 10px 20px;
}


.dropdownMenus {
  display: flex;
}

.size-dd {
  padding: 10px;
}

.qty-dd {
  padding: 10px 0px;
}

.dropdownsCart {
  display: flex;
  padding: 10px;
}

.salePrice {
  color: rgba(255, 0, 0, 0.808);
}

.styles {
  display: flex;
  object-fit: cover;
  padding: 20px;
}

.currentStyles {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  padding: 10px;
}

.stylesComponent {
  border: 1px black solid;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  background-color:rgba(211, 211, 211, 0.736);
  border-radius: 20px;
}

.descript {
  background-color:rgba(211, 211, 211, 0.736);
  border-radius: 20px;
  border: 1px black solid;
  padding: 0 20px 0 0;
}

.addToCart {
  background-color: rgb(243, 213, 43);
  border-radius: 16px;
  border: 1px black solid;
  padding: 10px 26px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
}

.starsNlinks {
  display: flex;
  padding: 8px 0px;
}

.myStars {
  padding:20px 20px;
}

.myRatings {
  padding: 10px 5px;
}

.myQuestions {
  padding: 10px 0px;
}

.addForm {
  padding-left: 45px;
}

i {
  color: rgb(53, 52, 52);
}

.category {
  padding: 8px 0px;
}