html * {
  font-family: Calibre, sans-serif;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(240, 238, 238);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.starbox {
  display: inline-grid;
  color: gold;
  padding: 5px;
}

.starbox div {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
  font-size: 35px;
}

/* Justin's Stars */
.JStarbox {
  display: inline-grid;
  color: gold;
}

.JStarbox div {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
  font-size: 20px;
}

.search {
  display: flex;
  padding: 0px 0 20px 63%;
}

.searchForm {
  font-size: 14px;
  padding: 0 35px 0 3px;
}

.searchButton {
  font-size: 18px;
}

progress {
  border: none;
  width: 80%;
  height: 25px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

progress::-webkit-progress-value {
  background: #ffa500;
}

progress::-webkit-progress-bar {
  background: #b3b3b3;
}

.Flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  align-items: flex-start;
  height: 1000px;
  flex-wrap: wrap;
  max-width: 65%;
  margin: auto;
}

.Flexbox-item-1 {
  width: 20%;
  border: 3px;
  justify-content: space-evenly;
  flex-basis: auto;
  align-items: center;
  height: 600px;
}

.Flexbox-item-2 {
  width: 60%;
  border: 3px;
  justify-content: space-evenly;
  flex-basis: auto;
  align-items: center;
  height: 600px;
}

.StarAndBar {
  justify-content: left;
}

.AverageStars {
  width: 500px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  display:inline-block;
  justify-content: center;
}

.drop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: indigo;
}

.RItem {
  justify-content: space-evenly;
  align-items: center;
}

.MReviews {
  height: 30px;
  display: flex;
  justify-content: center;
}

.sortReview {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.ReviewList{
  display: flex;
  justify-content: center;
  margin: 3px 0px 3px 0px;
}

.RatingText {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 50px;
  font-family: Calibre, sans-serif;
}

.OneStar {
  display: flex;
  justify-content: center;
}

.TwoStar {
  display: flex;
  justify-content: center;
}

.ThreeStar {
  display: flex;
  justify-content: center;
}

.FourStar {
  display: flex;
  justify-content: center;
}

.FiveStar {
  display: flex;
  justify-content: center;
}

.RecommendedStar {
  display: flex;
  justify-content: center;
}

.BarTitle {
  text-align: left;
  white-space: nowrap;
}

.ProgressBar {
  display: flex;
  justify-content: flex-start;
}

.TextBar {
  align-items: center;
  font-size: 50px;
  height: 545px;
  width: 75%;
  margin: 100px;
}
.ProgressCon {
  margin: 100px;
}

.Bar {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-left: 2%;
}

.Comfort {
  display: flex;
  justify-content: center;
}

.ProdText {
  margin: 2px 5px 2px 5px;
  padding: 2px;
}

.SortContainer {
  display: block;
  margin-left: 45%;
}

.Wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.ReviewItem {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0,0,0,0.85);
}

/* Entire Modal Item container */
.modal .modalContent {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.736);
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  border-radius: 6px;
  width: 1000px;
}

.modal .closeModal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .closeModal:hover {
  opacity: 0.9;
}

.modalStarForm {
  margin: 10px;
  text-align: center;
  font-family: Calibre, sans-serif;
  font-weight: bold;
  border: solid black;
  border-radius: 10px;
  padding: 15px;
  color: #f28500;
  background-color: #F0F0F0;
}

.modalBar {
  display: flex;
  justify-content: center;
}

.modalSummary {
  font-family: Calibre, sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 2px;
}

.innerModalSummary {
  font-family: Calibre, sans-serif;
  padding: 10px;
  margin: 2px;
  height: 25px;
  width: 90%;
}

.modalBody {
  font-family: Calibre, sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 2px;
}

.innerModalBody {
  font-family: Calibre, sans-serif;
  padding: 10px;
  margin: 2px;
  height: 60px;
  width: 90%;
}

.modalRecommend {
  font-family: Calibre, sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 2px;
}

.innerModalRecommend {
  font-family: Calibre, sans-serif;
  padding: 5px;
  margin: 5px;
  height: 15px;
  width: 2%;
}

.modalNameEmail {
  font-family: Calibre, sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 2px;
}

.innerModalNameEmail {
  font-family: Calibre, sans-serif;
  padding: 7px;
  margin: 5px;
  height: 20px;
  width: 40%;
}

.modalUserDisclaimer {
  font-family: Calibre, sans-serif;
  font-size: 13px;
  font-style: italic;
  margin: 2px;
  padding: 2px;
}

.modalSubmit{
  font-family: Calibre, sans-serif;
  font-size: 20px;
  font-style: bold;
  border-style: solid black;
  background-color: #ffcba4;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 10%;
  margin-left: 15%;
}

.modalContainer {
  display: flex;
  justify-content: space-evenly;
}

.QuestionList {
  text-align: center;
}

.starRating {
  font-family: Calibre, sans-serif;
  font-size: 17px;
  font-style: bold;
}

.content {
  color: rgb(53, 52, 52);
  background-color: rgb(240, 238, 238);
  align-items: center;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}