.starbox {
  display: inline-grid;
  color: gold;
}

.starbox div {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
  font-size: 24px;
}

.search {
  display: flex;
  padding: 0px 0 20px 75%;
}

.searchForm {
  font-size: 14px;
  padding: 0 35px 0 3px;
}

.searchButton {
  font-size: 18px;
}

progress {
  border: none;
  width: 400px;
  height: 25px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

progress::-webkit-progress-value {
  background: #20B2AA;
}

progress::-webkit-progress-bar {
  background: rgb(150, 149, 149);
}

.content {
  color: rgb(53, 52, 52);
  background-color: rgb(240, 238, 238);
}