.starbox {
  display: inline-grid;
  color: gold;
}

.starbox div {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
  font-size: 24px;
}

.search {
  padding-left: 80%;
}

progress {
  border: none;
  width: 400px;
  height: 25px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

progress::-webkit-progress-value {
  background: #20B2AA;
}

progress::-webkit-progress-bar {
  background: rgb(150, 149, 149);
}

.content {
  color: rgb(53, 52, 52);
  background-color: rgb(160, 160, 160);
}